{% extends 'base.html' %}


{% block title %} IP Finder {% endblock %}


{% block body %}


<div class="container">

    <br>
    <br>


    <center>
        <h1 style="font-family:'Courier New'">NSLookup</h1>
        <br>
        <br>

    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}

        <div class="form-group">

            <label>

                <input type="text" class="form-control" name="search" placeholder="Enter website">
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Search">
        <p></p>
        <p>Click on the "Choose File" button to upload a file:</p>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
            <a href = "#section2">file</a>
        </form>
    </form>
    </center>

    <br>
    <br>


    <p>IP Address is : {{ip_address}}</p>
    <td>
    </td>
    <style>
</div>
}
<div class="main" id="section2">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;

}
</style>
<style>
table.a{
  table-layout: fixed;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
#section2 {
  width: 100%;
}
</style>

</head>
<body>
<div id="section2">
<center>
<table class = "a">
  <tr>
    <th>ID</th>
    <th>Location</th>
    <th>IP Address(IPv4)</th>
    <th>IP Address(IPv6)</th>
    <th>Port 1</th>
    <th>Port 2</th>
  </tr>
  <tr>
    <td>1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>2</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>3</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>4</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>6</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>7</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>8</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>9</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>10</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>11</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>12</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>13</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>14</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>15</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</center>

</div>

</div>

{%  endblock %}